.title {
  text-align: center;
  color: #642e0e;
  text-shadow: #d5ff16 2px 2px 2px 2px;

}
/*.chargesMenuCategory  {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;

}

.chargesMenuTotal  {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;


}
.chargesMenuDate  {



}*/




