body {
  background-color: dimgray;
}
a {
  text-decoration: none;
}
.main-page {
  display: flex;
}
.main-btn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bnt-add {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

